# Grafana running on your GCP VM
GRAFANA_URL=http://34.130.163.154:3000
# Service account token (see setup guide in README)
GRAFANA_API_KEY=glsa_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# UID of your PostgreSQL datasource in Grafana (see setup guide)
GRAFANA_DATASOURCE_UID=xxxxxxxx

# FastAPI backend on your GCP VM
API_URL=http://34.130.163.154:8000
